/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.dark body {
  background-color: #141D26;
  color: white;
}
.dark .header__content .nav a {
  color: white;
}
.dark .trainer__input .input {
  border-bottom: 1px dotted #fff;
}
.dark .trainer__keyboard .line div {
  background: #000;
}
.dark a.animated-button:link, .dark a.animated-button:visited {
  color: #fff;
}
.dark .welcome .theme span {
  margin-top: 5px;
  color: #fff;
}

.fill {
  color: black;
}
.fill .purple-key {
  background-color: #DF79C9 !important;
}
.fill .blue-key {
  background-color: #3DB1AA !important;
}
.fill .green-key {
  background-color: #34C924 !important;
}
.fill .orange-key {
  background-color: #EE933F !important;
}
.fill .yellow-key {
  background-color: #E6F542 !important;
}

.text {
  color: white;
  padding-bottom: 40px;
  size: 70px;
}

body .lock {
  overflow: hidden;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
  z-index: 9999;
}
.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup__content {
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}
.popup__content .box {
  width: 350px;
  padding: 20px;
  position: relative;
  background: white;
  box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 8px;
}
.popup__content .box input[type=text],
.popup__content .box input[type=password],
.popup__content .box textarea[type=text] {
  color: black;
  margin: 8px auto;
  margin-left: 5px;
  padding: 11px 21px;
  width: 300px;
  height: 50px;
  outline: none;
  border-radius: 5px;
  transition: 0.25s;
  opacity: 0.4;
  border: 1px solid #356EAD;
}
.popup__content .box textarea[type=text] {
  height: 100px;
  margin-bottom: 62px;
}
.popup__content .box input[type=text]:focus,
.popup__content .box textarea[type=text]:focus {
  width: 310px;
  border-color: black;
}
.popup__title {
  margin-left: 7px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
}
.popup__text {
  margin-left: 5px;
  margin-top: 24px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.8;
}
.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup.open .popup__content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.btnBox {
  width: 300px;
  border: 0;
  color: white;
  display: block;
  margin: 5px auto;
  text-align: center;
  padding: 14px 0px;
  outline: none;
  transition: 0.25s;
  background: #95a0a4;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 8px;
}

.error {
  box-shadow: 0 0 15px red;
}

.box input[type=submit]:hover {
  background: #d0d0d0;
}

body {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 400;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  margin-top: 10px;
  transform: translate(0, -100%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.header__content {
  padding: 0 20px 0 20px;
}
.header__content .nav {
  display: flex;
  justify-content: space-between;
}
.header__content .nav .nav__logo {
  font-size: 38px;
}
.header__content .nav .nav__logo img {
  margin-right: 10px;
}
.header__content .nav a {
  color: black;
}
.header__content .nav .nav__list {
  display: flex;
  font-size: 20px;
  align-items: center;
  column-gap: 20px;
}
.header.anim-active {
  transform: translate(0, 0);
  opacity: 1;
}

.title {
  margin-top: 62px;
  display: inline-block;
  margin: 0 auto;
  font-family: "PT Mono", monospace;
  font-weight: 900;
  padding-top: 50px;
  font-size: 38px;
}

.results {
  margin-top: 28px;
  transform: translate(-100%, 0);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.results__title {
  font-size: 14px;
  line-height: 16px;
}
.results.anim-active {
  transform: translate(0, 0);
  opacity: 1;
}

.indicators {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
}

.indicator {
  display: flex;
  font-size: 12px;
  font-family: "PT Mono", monospace;
  padding: 10px;
  align-items: center;
  padding-right: 30px;
}
.indicator__name {
  margin-left: 10px;
}

.indicator:not(:last-child) {
  border-right: 1px solid #d9d9d9;
}

.devider {
  margin-top: 35px;
  border-top: 1px solid #eee;
}

.trainer__input {
  margin-top: 30px;
  transform: translate(100%, 0);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.trainer__input .input {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 20px;
  border: 3px solid transparent;
  border-bottom: 1px dotted #000;
  outline: none;
  font-family: "PT Mono", monospace;
  font-size: 18px;
  transition: all 0.1s ease-in;
}
.trainer__input.anim-active {
  transform: translate(0, 0);
  opacity: 1;
}
.trainer__text {
  font-size: 18px;
  margin-bottom: 35px;
  transform: translate(100%, 0);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.trainer__text.anim-active {
  transform: translate(0, 0);
  opacity: 1;
}
.trainer__keyboard {
  transform: translate(0, 80%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.trainer__keyboard .line {
  display: flex;
}
.trainer__keyboard .line div {
  width: 49px;
  height: 49px;
  line-height: 42px;
  font-size: 15px;
  border: 1px solid #c7d0d4;
  background: #fff;
  margin: 1px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}
.trainer__keyboard .line .special-letters {
  color: #95a0a4;
  font-size: 10px;
}
.trainer__keyboard .line .backspace {
  width: 75px;
  text-align: right;
}
.trainer__keyboard .line .tab {
  width: 75px;
  text-align: left;
}
.trainer__keyboard .line .caps {
  width: 87px;
  text-align: left;
}
.trainer__keyboard .line .enter {
  width: 88px;
  text-align: right;
}
.trainer__keyboard .line .shift {
  width: 113px;
  text-align: left;
  color: #95a0a4;
  font-size: 10px;
}
.trainer__keyboard .line .shift:last-child {
  text-align: right;
}
.trainer__keyboard .line .fill {
  margin-left: auto;
}
.trainer__keyboard .line .space {
  width: 312px;
  text-align: right;
}
.trainer__keyboard .line .alt {
  width: 88px;
  text-align: right;
}
.trainer__keyboard .line .theme {
  display: flex;
  text-align: right;
  margin-right: auto;
}
.trainer__keyboard .line .theme a {
  display: flex;
}
.trainer__keyboard.anim-active {
  transform: translate(0, 0);
  opacity: 1;
}

.pressed {
  background-color: #c7d0d4 !important;
}

.inputError {
  border-radius: 10px;
  background-color: #ff0000;
}

.trainer__text .done {
  color: #d9d9d9;
}

.trainer__text .hint {
  background-color: #ff0000;
}

.trainer__text.error {
  color: #ff0000;
}

a.animated-button:link, a.animated-button:visited {
  position: relative;
  display: block;
  padding: 14px 15px;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 0.08em;
  border-radius: 8px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

a.animated-button:link:after, a.animated-button:visited:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}

a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
  height: 450%;
}

a.animated-button.victoria-one {
  border: 2px solid #C7D0D4;
}

a.animated-button.victoria-one:after {
  background: #C7D0D4;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}

a.animated-button.victoria-two {
  border: 2px solid #C7D0D4;
}

a.animated-button.victoria-two:after {
  background: #C7D0D4;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  transform: translateX(-50%) translateY(-50%) rotate(25deg);
}

a.animated-button.victoria-three {
  border: 2px solid #C7D0D4;
}

a.animated-button.victoria-three:after {
  background: #C7D0D4;
  opacity: 0.5;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

a.animated-button.victoria-three:hover:after {
  height: 140%;
  opacity: 1;
}

a.animated-button.victoria-four {
  border: 2px solid #C7D0D4;
}

a.animated-button.victoria-four:after {
  background: #C7D0D4;
  opacity: 0.5;
  -moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  transform: translateY(-50%) translateX(-50%) rotate(90deg);
}

a.animated-button.victoria-four:hover:after {
  opacity: 1;
  height: 600% !important;
}

.welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.welcome__title {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}
.welcome__btn {
  min-width: 150px;
  max-width: 150px;
  margin: 0 auto;
  padding-top: 30px;
  transform: translate(0, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.welcome__btn.anim-active {
  transform: translate(0, 0);
  opacity: 1;
}
.welcome .theme {
  text-align: center;
  min-width: 180px;
  max-width: 180px;
  margin: 0 auto;
  margin-top: 30px;
  transform: translate(120%, 0);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.welcome .theme img {
  margin-right: 10px;
}
.welcome .theme span {
  margin-top: 5px;
  color: #000;
}
.welcome .theme.anim-active {
  transform: translate(0, 0);
  opacity: 1;
}

@media (max-width: 740px) {
  .rotate-icon {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/src/img/screen-rotation.svg") no-repeat center center;
    background-size: 20%;
    z-index: 9999;
  }
  .container {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
