
//------------------TRAINER.HTML------------------
.dark{
	body{
		background-color: #141D26;
		color: white;
	}
	.header {
		&__content {
			.nav{
				a{
					color: white;
				}
			}
		}
	}
	.trainer {
		&__input {
			.input{
				border-bottom: 1px dotted #fff;
			}
		}
		&__keyboard {
			.line {
				div{
					background: #000;
				}
			}
		}
	}
	//------------------BUTTON------------------
	.animated-button:link, .animated-button:visited {
		color: #fff;
	}
	
	//------------------INDEX.HTML------------------
	.welcome {
		.theme{
			span{
				margin-top: 5px;
				color: #fff;
			}
		}
	}
		//------------------POPUP------------------
	.popup {
		color: white;
		&__content {
			.box {
				background: #141D26;
				input[type="text"]:focus,
				input[type="password"]:focus,
				textarea[type="text"]:focus{
					border-color: white;
				}
			}
		}
		button{
			color: white;
		}
	}
}