.fill{
	color: black;
	.purple-key{
		background-color: #DF79C9 !important;
	}
	.blue-key{
		background-color: #3DB1AA !important;
	}
	.green-key{
		background-color: #34C924 !important;
	}
	.orange-key{
		background-color: #EE933F !important;
	}
	.yellow-key{
		background-color: #E6F542 !important;
	}
}