.fill{
	&.trainer {
		&__keyboard {
			.line {
				color: black;

				.purple-key{
					background-color: #DF79C9;
				}
				.blue-key{
					background-color: #3DB1AA;
				}
				.green-key{
					background-color: #34C924;
				}
				.orange-key{
					background-color: #EE933F;
				}
				.yellow-key{
					background-color: #E6F542;
				}
			}
		}
	}
}
